<div id="navbar">
    <a href="{% url 'home' %}"><img src="static\images\logo-removebg-preview.png" width="68%"></a>
    
    <a href="{% url 'rooms_page' %}">Pokoje</a>
    <a href="{% url 'atlas' %}">Atlas</a>

    <div>
        <form method="GET" action="{% url 'search' %}">
            <input type="text" name="q" placeholder="Search">
            <input type="submit" value="Szukaj">
        </form>
    </div>

    {% if request.user.is_authenticated %}
    <a href="{% url 'user' request.user.id %}">{{request.user}}</a>
    <a href="{% url 'user_logout' %}"><i class="material-symbols-rounded">Logout</i></a>
    {% else %}
    <a href="{% url 'user_login' %}"><i class="material-symbols-rounded">Login</i></a>
    {% endif %}
</div>