body {
    font-family: 'Montserrat', sans-serif;
    font-size: 80%;
}

#page_container {
    background-color: #f9f2ec;
    margin-left: -8px;
    margin-right: -8px;
}

#page_style {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #d9b38c;
    min-height: 100vw;
    align-items: stretch;
    padding: 5px;
}

#navbar {
    position: sticky;
    top: 0;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    background-color: #86592d;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

#responsive {
    width: 100%;
    max-width: 250px;
    max-height: 500px;
}

#message_field_room {
    width: 500px;
}

#write_message {
    position: sticky;
    bottom: 0px;
    display: flex;
    justify-content: center;
}

.material-symbols-rounded {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
}

#thumb-up-unclicked {
    color: #9e9e9e;
}

#thumb-down-unclicked {
    color: #9e9e9e;
}

.thumbs {
    display: inline-block;
}

input::-webkit-input-placeholder {
    font-family: 'Material Symbols Rounded';
}

a:link {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 130%;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
    font-size: 120%;
}

a:active {
    color: black;
}

#navbar a:link {
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 130%;
}

#navbar a:visited {
    color: black;
}

#navbar a:hover {
    color: black;
}

#navbar a:active {
    color: black;
}

#posts {
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

#post {
    display: block;
}

.thumb {
    display: inline-block;
}

#thumbs {
    display: block;
}