#page_container {
    background-color: #f0f5f5;
}

#page_style {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #c2d6d6;
    height: 100vw;
}

#navbar {
    position: sticky;
    top: 0;
    background-color: #75a3a3;
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

#responsive {
    width: 100%;
    max-width: 250px;
    max-height: 500px;
}

#message_field_room {
    width: 500px;
}